body, html {
  height: 100%;
  margin: 0;
  font-family: Encode Sans Condensed, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.im.ge/2021/11/04/oPX1Pa.jpg");
  height: 100%;
  background-position: center 15%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.box {
  top: 60%;
  position: relative;
  margin: auto;
  width: 90%;
  height: 220px;
  background-color:rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 5%;
  color: white;
  padding: 1px;
}

.box h1 {
  font-size: 2em;
}

.box h2 {
  font-size: 1.2em;
}

.box p {
  margin: 10px;
  font-size: 0.9em;
  text-align: justify;
}

.links i {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
}

a:hover {
  color: aqua;
}